<div
  class='absolute top-4 left-4 w-1/3 min-w-52 z-50 bg-white rounded-md flex items-center justify-center shadow-lg overflow-hidden focus-within:ring ring-orange-500'
>
  <FaIcon @icon='search' class='px-3 text-gray-400' />
  <Input
    @value={{@searchQuery}}
    {{did-insert this.onInsert}}
    type='search'
    class='w-full p-3 border-none text-sm outline-none focus:ring-none shadow-none'
    placeholder='{{t "placeholder.search"}}'
  />

</div>