{{page-title (t 'page_title.email.verify.success')}}

<main class='bg-orange-600 bg-topography min-h-screen'>
  <Navigation />

  <div class='rounded-lg shadow-md bg-white max-w-xl mx-auto'>
    <div class='flex flex-col items-center text-gray-700'>
      <div class='w-full max-w-md'>
        <IconHolder @icon='envelope-circle-check' />
        <h1 class='text-center text-3xl font-bold font-sans'>
          {{t 'page_title.email.verify.success'}}
        </h1>
        <p class='text-center text-lg'>
          {{t 'page_description.email.verify.success'}}
        </p>
      </div>
    </div>
  </div>

</main>