<div class='{{this.getClasses}}' ...attributes>

  <div class='z-10 text-lg'>
    <FaIcon @icon={{this.getIcon}} />
  </div>
  <div
    class='absolute w-10 h-10 rounded-tl-full rounded-tr-full rounded-bl-full rounded-br-none transform rotate-45
      {{this.bgColor}}'
  ></div>
</div>