<div
  class='shadow rounded-lg relative group bg-white flex flex-col overflow-hidden'
>
  <div
    class='bg-cover bg-gray-300 overflow-hidden flex-1 aspect-video p-3 flex justify-end relative'
    style={{this.coverPhotoStyle}}
  >
    <UnsplashCredits @photo={{@model.unsplashPhoto}} />
  </div>
  <div class='px-5 py-6'>
    <h3 class='text- md:text-lg font-medium font-headings'>
      <span class='absolute inset-0' aria-hidden='true'></span>
      {{@model.title}}
    </h3>
    <p class='mt-2 text-xs md:text-sm text-gray-500'>
      {{@model.description}}
    </p>
  </div>
</div>