<div class='flex p-6 justify-center'>
  <div
    class='w-44 h-44 flex justify-center items-center bg-gray-100 rounded-full'
  >
    <FaIcon @icon={{@icon}} class='text-orange-500 text-5xl' />
  </div>
</div>