<form {{on 'submit' this.authenticate}}>
  <label for='username'>Login</label>
  <Input
    id='email'
    @type='text'
    placeholder='Enter email'
    @value={{this.email}}
  />
  <label for='password'>Password</label>

  <Input
    id='password'
    @type='password'
    placeholder='Password'
    @value={{this.password}}
  />
  <button type='submit'>Login</button>
</form>