{{page-title (t 'page_title.trips')}}

<AppHeader @title={{t 'header_title.trips'}} />

<PageWrapper>
  <div class='grid grid-cols-3 gap-6'>
    <EmptyTripCard />
    {{#each @model as |trip|}}
      <TripCard @trip={{trip}} />
    {{/each}}

  </div>
</PageWrapper>